<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Word Bag</title>
    <meta charset="utf-8">
    <link href="/css/reset.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/gh-buttons.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css"/>
    <link  href="http://fonts.googleapis.com/css?family=Pacifico:regular&v1" rel="stylesheet" type="text/css" >
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <section id="game">
      <header>
	<h1>Wordbag</h1>
      </header>
      {% block content %}
      {% endblock %}
    </section>
  </body>
</html>
